.main {
    display: flex;

    .with-stores {
        width: 408px;
    }
    
    .no-stores {
        border-top: 1px solid #e6e6e6;
    }
    
    .map {
        flex: 1;
    }

    .store {
        border-bottom: 1px solid #e6e6e6;
        padding: 15px 8px;
        cursor: pointer;
    }
}
