.auth {
    margin: 100px auto;
    padding: 0;
    width: 500px;
    font-size: 13px;

    .title {
        font-size: 24px;
        text-align: center;
        display:flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .link-list {
        margin-top: 20px;
        text-align: center;

        .link-box {
            display: flex;
            justify-content: center;
        }

        .btn-link {
            font-weight: bold;
            font-size: 14px;
            color: #0366d6;
            border: 0;
            cursor: pointer;
            outline: none;
        }
    }
}