.store-card {
    margin: 0;
    padding: 15px 8px;
    display: flex;
    align-items: center;

    .store-img {
        width: 80px;
        height: 92px;
    }

    .store-contents {
        width: 70%;
        font-size: 13px;
        
        .store-title {
            padding: 10px;
        }
        
        .store-description {
            padding: 10px;
        }
    }
}


