article {
    margin: 0;
    padding: 15px 0;
    width: 100%;
    display: flex;
    border-bottom: 1px solid;
}

.store-img {
    max-width: 150px;
    max-height: 150px;
    flex-grow: 1;
}

.store-contents {
    flex-grow: 4;
}

.store-title {
    padding: 10px;
}

.store-description {
    padding: 10px;
}